In [1]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_file = "../data/raw/SFHS_byState.csv"

In [3]:
homeSales_df = pd.read_csv(data_file)
homeSales_df.head()

,State,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,7/31/1996,8/31/1996,9/30/1996,...,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020
0,Alaska,128799,129299,129737,130648,131314,131931,132415,132795,133037,...,323118,323206,324163,324420,322877,321087,319754,319753,317470,314518
1,Alabama,82282,82384,82466,82582,82646,82747,82888,83096,83221,...,136491,137034,137592,138138,138748,139404,140138,140881,141646,142463
2,Arkansas,68557,68588,68665,68774,68901,69015,69166,69333,69494,...,127013,127431,127899,128338,128814,129169,129477,129787,130180,130638
3,Arizona,110353,110668,111028,111685,112300,112856,113368,113838,114287,...,267246,268612,270270,271740,273403,275153,277367,279482,281581,283974
4,California,164133,163906,163766,163493,163318,163183,163107,163113,163162,...,562386,563398,564896,566911,569019,571142,574142,577601,581867,586271

In [4]:
homeSales_df.shape

(47, 292)

In [5]:
homeSales_df.set_index("State", inplace=True)
homeSales_df.head()

,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,7/31/1996,8/31/1996,9/30/1996,10/31/1996,...,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020
State,,,,,,,,,,,,,,,,,,,,,
Alaska,128799,129299,129737,130648,131314,131931,132415,132795,133037,133078,...,323118,323206,324163,324420,322877,321087,319754,319753,317470,314518
Alabama,82282,82384,82466,82582,82646,82747,82888,83096,83221,83344,...,136491,137034,137592,138138,138748,139404,140138,140881,141646,142463
Arkansas,68557,68588,68665,68774,68901,69015,69166,69333,69494,69673,...,127013,127431,127899,128338,128814,129169,129477,129787,130180,130638
Arizona,110353,110668,111028,111685,112300,112856,113368,113838,114287,114739,...,267246,268612,270270,271740,273403,275153,277367,279482,281581,283974
California,164133,163906,163766,163493,163318,163183,163107,163113,163162,163339,...,562386,563398,564896,566911,569019,571142,574142,577601,581867,586271

In [6]:
homeSales_df.dtypes

1/31/1996     int64
2/29/1996     int64
3/31/1996     int64
4/30/1996     int64
5/31/1996     int64
              ...
11/30/2019    int64
12/31/2019    int64
1/31/2020     int64
2/29/2020     int64
3/31/2020     int64
Length: 291, dtype: object

In [7]:
homeSales_df = homeSales_df.T
homeSales_df

State,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,District of Columbia,Delaware,Florida,...,South Carolina,South Dakota,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia
1/31/1996,128799,82282,68557,110353,164133,143302,157679,195151,132770,103902,...,97030,84567,90477,98043,160686,122364,109627,142534,99186,60990
2/29/1996,129299,82384,68588,110668,163906,143773,157478,194150,132713,104008,...,97138,84961,90655,98068,160818,122311,109607,142542,99329,60995
3/31/1996,129737,82466,68665,111028,163766,144161,157722,193289,132655,104130,...,97176,84923,90872,98099,161092,122319,109517,142570,99435,60998
4/30/1996,130648,82582,68774,111685,163493,144946,157889,191849,132515,104360,...,97377,84980,91294,98226,161570,122300,109372,142641,99740,61010
5/31/1996,131314,82646,68901,112300,163318,145634,158013,190734,132638,104581,...,97527,84773,91737,98368,162209,122256,109188,142778,100100,61014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/30/2019,321087,139404,129169,275153,571142,412016,272737,739461,259757,259429,...,190311,206780,186743,210191,354675,290684,264080,420109,201218,106695
12/31/2019,319754,140138,129477,277367,574142,413219,272955,740966,259632,260224,...,190927,207515,187767,210559,355969,291276,264703,423181,202100,106761
1/31/2020,319753,140881,129787,279482,577601,414960,273721,743270,259505,261244,...,191473,208316,188809,211003,357764,291795,265440,426520,202911,106796
2/29/2020,317470,141646,130180,281581,581867,416567,274261,745717,259586,262536,...,192063,209269,189944,211434,359461,292441,265826,430155,203670,106871
3/31/2020,314518,142463,130638,283974,586271,418359,274918,747179,259392,263965,...,192752,210171,191179,212043,361473,293064,266352,434222,204311,106928

In [8]:
homeSales_df.to_csv("../data/CLEANED_SFHS_byState.csv")